/* newsparts */ 

.c-news{
    &__list{
        margin-top: 80px;
        @include media-breakpoint-sp{
            margin-top: 55px;
        }
    }
    &__item {
        padding: 14px 10px;
        border-bottom: 2px solid #000;
        @include media-breakpoint-sp{
            padding: 12px 10px;
        }
        &:first-child{
        border-top: 2px solid #000;
        }
    }
    &__day {
        display: inline-block;
        margin-right: 1em;
    }
    &__cat {
        display: inline-block;
    }
    &__link{
        display: flex;
        justify-content: space-between;
    }
    &__contain{
        display: flex;
        @include media-breakpoint-sp{
            flex-direction: column;
        }
    }
}

// Desktop + Tablet
// --------------------------------------------------
// @include media-breakpoint-pc-tab {
//     .c-news {
//         &__item {
//             a {
//                 transition: 0.3s all;
//                 &:hover{
//                     opacity: 0.7;
//                 }
//             }
//         }
//     }
// }

