.l-footer{
	margin-top: 200px;
	@include media-breakpoint-sp{
		margin-top: 148px;
    }
	background-color: #000;
	color: #fff;
	&__img{
		padding-top: 56px;
		@include media-breakpoint-sp{
			padding-top: 65px;
			img{
					width: 300px;
					height: 66px;
				}
		}
	}
	&__contain {
		width: 100%;
		max-width: 960px;
		margin: 0 auto;
	}
	&__online{
		margin: 47px 0 42px 0;
		display: inline-block;
		@include media-breakpoint-sp{
			margin-top: 52px;
		}
	}
	&__border{
		display: inline-flex;
		align-items: center;
		border: 2px solid #fff;
		margin: 10px;
		padding: 23px 58px;
		font-size: ( 20px / $font-size) * 1rem;
		font-weight: bold;
		@include media-breakpoint-sp{
			padding: 20px 39px;
		}
		img{
			margin-right: 20px;
		}

	}
	&__menu{
		max-width: 454px;
		width: 100%;
		margin: 0 auto;
		font-size: ( 16px / $font-size) * 1rem;
		font-weight: bold;
		ul{
			display: $flex;
			justify-content: space-between;
			@include media-breakpoint-sp{
				flex-wrap: wrap;
				justify-content: center;
				li{
					width: 30%;
				}
			}
			a{
				color: #fff;
				display: inline-block;
				padding: 5px 8px;
			}
		}
	}
	&__copyright {
		font-size: ( 14px / $font-size) * 1rem;
		font-weight: bold;
		padding: 24px 0 10px;
		letter-spacing: 0.4px;
	}
}